#!/bin/bash
useradd -m -p $(echo "{{ test_password }}" | openssl passwd -1 -stdin) "{{ test_user }}"
usermod -a -G sudo "{{ test_user }}"
usermod -a -G wheel "{{ test_user }}"
sed -i 's/PasswordAuthentication.*/PasswordAuthentication yes/' /etc/ssh/sshd_config
service ssh restart
service sshd restart
