<!DOCTYPE html>
<html>
<body>
<center>
<h1>Access Report</h1>
</center>
<table>
    <thead>
        <tr>
            <th>Device</th>
            <th>Short name</th>
            <th>Access</th>
        </tr>
    </thead>
    <tbody>
{% for device in ansible_play_hosts_all|sort %}
    <tr>
        <td>{{ hostvars[device].hostname }}</td>
        <td>{{ hostvars[device].short_name }}</td>
        <td>{{ hostvars[device].access }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
</body>
</html>